.customer {
  position: relative;
  padding: 120px 132px 238px;
  background-image: url(../../images/Vector.png);
  background-color: $backgroundColor;
  background-repeat: no-repeat;
  background-position: bottom 40px center;

  margin-left: auto;
  margin-right: auto;

  &__about {
    text-align: center;
  }

  &__subs {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $secondaryTitleColor;
    margin: 0 0 10px;
  }

  &__title {
    font-family: $EksellDisplay;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    text-transform: capitalize;
    color: #002248;
    margin: 0 0 20px;
  }

  &__text {
    display: inline-block;

    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #697687;
    margin: 0 0 200px;
  }

  &__quote {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: auto;
    background: $secondaryBackgroundColor;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    padding: 0 50px 30px;

    &--text {
      position: relative;
      font-family: $mainFontAirbnb;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #697687;
      margin: 0 0 14px;
    }

    &--name {
      position: relative;
      font-family: $mainFontAirbnb;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $titleBlueDarkColor;
      margin: 0 0 2px;
    }

    &--name::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      background: rgba(105, 118, 135, 0.3);
      border-radius: 6px;
      bottom: -71px;
      left: 80%;
    }

    &--job {
      font-family: $mainFontAirbnb;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: #697687;
      margin: 0;
    }
  }

  &__image--1 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 14.2%;
    top: 85.85%;
  }

  &__image--2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 7.96%;
    top: 57.68%;
  }

  &__image--3 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 19.16%;
    top: 46.77%;
  }

  &__image--4 {
    position: absolute;
    width: 100px;
    height: 100px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 45.68%;
    top: 33.86%;
  }

  &__image--5 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 75.11%;
    top: 79.97%;
  }

  &__image--6 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 77.07%;
    top: 57.54%;
  }

  &__image--7 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 78.61%;
    top: 34.19%;
  }

  &__image--8 {
    position: absolute;
    width: 60px;
    height: 60px;
    background: $secondaryBackgroundColor;
    border: 3px solid $secondaryBackgroundColor;
    box-sizing: border-box;
    border-radius: 100px;
    right: 86.48%;
    top: 70.62%;
  }
}

.slick-dots {
  bottom: -30%;
  margin: 0 auto;
}

.slick-active .custom-slick-dots {
  width: 20px;
  height: 6px;
  border-radius: 6px;
  background-color: $mainBlueColor;
}

.custom-slick-dots {
  align-content: center;
  width: 6px;
  height: 6px;
  background: rgba(105, 118, 135, 0.3);
  border-radius: 6px;
  bottom: -30%;
}

.customer__quote--item {
  margin-top: 80px;
}

.customer__quote::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../../icons/quotation.svg);
  left: 46%;
  bottom: 166px;
}

@media screen and (max-width: $tablet) {
  .customer {
    padding: 50px 30px 200px;
    background-position: bottom 98px center;

    &__quote {
      padding: 0 50px 1px;

      &::before {
        top: 10%;
      }
    }

    &__image {
      &--1 {
        right: 19%;
        top: 83.85%;
      }

      &--2 {
        display: none;
      }

      &--3 {
        right: 12.16%;
        top: 42.77%;
      }

      &--4 {
        right: 43%;
      }

      &--5 {
        right: 84%;
      }

      &--6 {
        display: none;
      }

      &--7 {
        top: 40.19%;
      }

      &--8 {
        display: none;
      }
    }
  }
}
