header {
  position: fixed;
  width: 1440px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: $secondaryBackgroundColor;
  z-index: 7;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;

  &__logo {
    width: 106px;
    height: 45px;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
  }

  &__link {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $titleBlueDarkColor;

    transition: color 250ms $animationTimingFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $mainBlueColor;
  }

  &__nav--item:not(:last-child) {
    margin-right: 40px;
  }
}
