header {
  position: fixed;
  width: 1440px;

  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: $secondaryBackgroundColor;
  z-index: 7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 135px;

  margin: 0 auto;
  border-bottom: 1px solid #ececec;

  &__logo {
    width: 106px;
    height: 45px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
  }

  &__link {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $titleBlueDarkColor;

    transition: color 250ms $animationTimingFunction;
  }

  &__link:hover,
  &__link:focus {
    color: $mainBlueColor;
  }

  &__nav--item:not(:last-child) {
    margin-right: 48px;
  }
}
