.hero {
  display: flex;
  margin-top: 100px;
  padding: 40px 0 213px;
  background-color: $backgroundColor;

  &__imgset {
    display: flex;
    position: relative;
    padding-left: 116px;
    padding-right: 35px;
  }

  &__img {
    border: 10px solid $secondaryBackgroundColor;
    border-radius: 570px;
    object-fit: cover;
    top: 150px;
  }

  &__img:not(:last-child) {
    width: 1130px;
  }

  &__img--first {
    position: absolute;
    left: 383px;
    top: 188px;
    width: 360px;
  }

  &__text {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $secondaryTitleColor;
    margin-bottom: 15px;
    margin-top: 0px;
  }

  &__title {
    font-family: Eksell Display;
    font-style: normal;
    font-weight: 550;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
  }

  &__subs {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #697687;
    margin: 0 0 15px;
  }

  &__svg {
    display: inline-block;
    width: 41px;
    height: 41px;
  }

  &__discription {
    padding-top: 111px;
    padding-left: 209px;
    padding-right: 135px;
  }

  &__button {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $secondaryBackgroundColor;

    width: 170px;
    height: 60px;
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    display: block;

    margin: 100px auto 0;
    position: relative;
  }
}
