.hero {
  display: flex;
  margin-top: 100px;
  padding: 40px 135px 213px;
  background-color: $backgroundColor;

  &__imgset {
    display: flex;
    position: relative;
    margin: 0 213px 0 auto;
  }

  &__img {
    border: 10px solid $secondaryBackgroundColor;
    border-radius: 570px;
    object-fit: fill;
    top: 150px;
    max-width: 400px;
    max-height: 540px;
  }

  &__img:not(:last-child) {
    width: 1130px;
  }

  &__img--first {
    position: absolute;
    left: 50%;
    top: 30%;
    max-width: 320px;
  }

  &__text {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $secondaryTitleColor;
    margin-bottom: 15px;
    margin-top: 0px;
  }

  &__title {
    font-family: Eksell Display;
    font-style: normal;
    font-weight: 550;
    font-size: 60px;
    line-height: 72px;
    margin: 0 0 20px;
  }

  &__subs {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #697687;
    margin: 0 0 50px;
  }

  &__svg {
    display: inline-block;
    width: 41px;
    height: 41px;
  }

  &__discription {
    margin: 135px auto;
  }

  &__button {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $secondaryBackgroundColor;

    width: 170px;
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    display: block;
    margin: 80px auto 0;
    position: relative;
    padding: 45px 15px 50px;

    &__imgset {
      padding: 0;
    }

    &__img {
      margin: 0 auto;

      &--first {
        top: 35%;
        left: 51%;
        width: 40%;
      }
    }

    &__img:not(:last-child) {
      max-width: 60%;
    }

    &__discription {
      padding: 30px 0 0;
      text-align: center;
    }

    &__text {
      font-size: 25px;
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__subs {
      font-size: 25px;
      margin-bottom: 25px;
    }
  }
}
