.perfection {
  padding-bottom: 120px;
  &__discription {
    display: inline-block;
    margin-left: 436px;
    margin-right: 436px;
  }

  &__subs {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: $secondaryTitleColor;
    padding-top: 193px;
    margin: 0;
    margin-bottom: 10px;
  }

  &__title {
    font-family: $EksellDisplay;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    text-transform: capitalize;
    color: $titleBlueDarkColor;
    margin: 0;
    margin-bottom: 20px;
  }

  &__text {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #697687;
    margin: 0;
    padding-bottom: 70px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__list--item:not(:last-child) {
    margin-right: 30px;
  }

  &__list--item {
    display: inline-block;
    width: 370px;
    height: 395px;
    align-content: center;

    border: 2px solid #f8f8f8;
    box-sizing: border-box;
    border-radius: 10px;
  }

  &__list--svg {
    margin-top: 74px;
    margin-left: 132px;
    margin-right: 132px;
    margin-bottom: 50px;
    width: 105px;
    height: 96px;
  }

  &__list--title {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $titleBlueDarkColor;

    margin-bottom: 20px;
    margin-left: 46px;
    margin-right: 46px;
  }

  &__list--text {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #697687;

    padding-bottom: 70px;
    margin-top: 0;
    margin-right: 46px;
    margin-left: 46px;
  }

  &__list--discription {
    display: inline-block;
  }
}

@media screen and (max-width: $tablet) {
  .perfection {
    width: 100%;

    &__discription {
      padding: 55px 100px;
      margin: 0;
      height: auto;
    }

    &__subs {
      padding-top: 0px;
    }

    &__text {
      padding-bottom: 0;
    }

    &__list {
      display: block;
      padding: 0 100px;

      &--discription {
        display: block;
      }

      &--item {
        margin: 0 auto 20px;
        width: 100%;
        height: 100%;

        &:not(:last-child) {
          margin-right: 0px;
        }
      }

      &--svg {
        margin-left: auto;
        margin-right: auto;
      }

      // &--title {
      //   margin-left: auto;
      //   margin-right: auto;
      // }

      // &--text {
      //   margin-left: auto;
      //   margin-right: auto;
      // }
    }
  }
}
