.social {
  padding: 120px 0;
  max-height: 898px;

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  &__subs {
    font-family: $mainFontAirbnb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: $secondaryTitleColor;
    margin: 0 0 10px;
  }

  &__title {
    font-family: $EksellDisplay;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    text-transform: capitalize;
    color: #002248;
    margin: 0 0 62px;
  }

  &__description {
    width: 462px;
  }

  &__button {
    width: 170px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 92px;
  }

  &__instagram {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--img:not(:last-child) {
      margin: 0;
    }

    &--img:nth-child(odd) {
      //   background: #001835;
      border: 10px solid $secondaryBackgroundColor;
      border-radius: 570px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &--img:nth-child(even) {
      //   background: #001835;
      border: 10px solid $secondaryBackgroundColor;
      border-radius: 30px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    &--img:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &--img:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

@media screen and (max-width: $tablet) {
  .social {
    max-width: $tablet;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    padding: 120px 15px;
  }
  .social__img--none.slick-slide {
    display: none;
  }
}
