@import './fonts/airbnb/airbnb.css';

$mainBlueColor: #3685fb;
$titleBlueDarkColor: #002248;
$secondaryTitleColor: #00b3a0;
$backgroundColor: #f8f8f8;
$secondaryBackgroundColor: #ffffff;

//fonts

$mainFontAirbnb: Airbnb Cereal App;
$EksellDisplay: Eksell Display;
